# Specific locations within VuFind #
####################################
vufind/web/a.out
sites/*
!sites/default
!sites/packaging_default
!sites/vufindplus3.einetwork.net/marc/*
!sites/vufindplus3.einetwork.net/logs/*
!sites/vufindplus3.einetwork.net/solr/biblio/index/*
!sites/vufindplus3.einetwork.net/solr/biblio/spellchecker/*
!sites/vufindplus3.einetwork.net/solr/biblio/spellShingle/*
!sites/vufindplus3.einetwork.net/solr/biblio2/index/*
!sites/vufindplus3.einetwork.net/solr/biblio2/spellchecker/*
!sites/vufindplus3.einetwork.net/solr/biblio2/spellShingle/*
!sites/vufindplus3.einetwork.net/solr/econtent/index/*
!sites/vufindplus3.einetwork.net/solr/econtent/spellchecker/*
!sites/vufindplus3.einetwork.net/solr/econtent/spellShingle/*
!sites/vufindplus3.einetwork.net/solr/authority/index/*
!sites/vufindplus3.einetwork.net/solr/genealogy/index/*
!sites/vufindplus3.einetwork.net/solr/genealogy/spellchecker/*
!sites/vufindplus3.einetwork.net/solr/genealogy/spellShingle/*
!sites/vufindplus3.einetwork.net/solr/bin/*
!sites/vufindplus3.einetwork.net/solr/jetty/*
vufind/documentation/
vufind/admin/sql/
vufind/packaging_app/config.ini
vufind/web/images/fiveStar/*.png
vufind/web/images/charts/*.png
vufind/web/interface/cache/
vufind/web/interface/compile/
vufind/web/*_strandsCatalog.csv
vufind/web/*Strands.csv
vufind/web/phpinfo.php
vufind/import/src_backup
vufind/web/images/covers/medium/*
vufind/web/images/covers/small/*
vufind/web/images/covers/large/*
vufind/web/files/original/*
vufind/web/webinars/*

# Compiled source #
###################
*.com
*.class
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.log.1
*.log.2
*.log.3
*.log.4
*.log.5
*.sqlite

# Eclipse Files #
#################
.buildpath
.project
.classpath
org.eclipse.*.prefs

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
