/**
   center-header.css towards center-header.tpl
   create by Xiaolin Lin 2012-06-04
**/
#searchForm {
	margin-right: 20px;
	margin-left: 20px;
}

.center-header-top{
    height: 20px;
    min-width:538px;
    max-width:794px;
}

.center-header-middle{
    height: 55px;
}

.center-header-middle div{
	width:420px;
	display: table-cell;
}

.center-header-middle span{
	display: table-cell;
	padding-left:3px;
	padding-right:3px;
}


.center-header-buttom{
    height: 1px;
    background-color: rgb(255,255,255);
    
}

#disclaimer{
	color: rgb(255,0,0);
}

#search-label{
	font-size: 15px;
	font-family: sans-serif;
	text-align: center;
	color: rgb(255,255,255);
	margin-right: 2px;
}
#for-label{
	font-size: 15px;
	font-family: sans-serif;
	color: rgb(255,255,255);
	margin-right: 8px;
	margin-left: 5px;
	display: table-cell;
}

#search-type {
	height: 30px;	
}
#search-select{
	height: 30px;
	width: 150px;
	font-size: 15px;
	padding-top: 2px;
}

#lookfor{
	width: 361px;
	height: 28px;
	font-size: 15px;
	padding-top: 1px;
	/*background:url(/interface/themes/einetwork/images/Art/ActionIcons/GoButton.png) no-repeat scroll right center transparent;*/
	background-position: right;
	padding-right: 40px;
	border: none;
	
}

#GoButton{
	background: url(/interface/themes/einetwork/images/Art/ActionIcons/GoButton.png);
	width:36px;
	height: 28px;
	border: none;
	margin-bottom: 2px;
	margin-left: -40px;
	padding-left: -3px;
	margin-top:1px;
	padding: 0px;
	float: right;
	box-shadow: 0px 0px 0.5px #333;
	/*display: none;*/
}

