
#loginHome{
	height: 400px;
}
#loginHome2{
	height: 500px;
}
.librarycard{
	cursor: pointer;
}

.loginHome-left{
	width: 232px;
	height: auto;
	display: table-cell;
}

.loginHome-right{
	width: 254px;
	height: auto;
	display: table-cell;
}

.loginHome-center{
	width:704px;
	height: auto;
	display: table-cell;
	padding-top: 50px;
	
}
.loginMessage{
	height:50px;
	font-size:22px;
	font-weight:bold;
	text-align:center;
	color: #256292;
}
.loginMessage2{
	height:50px;
	font-size:22px;
	font-weight:bold;
	text-align:center;
	color: #256292;
}
.login-slider{
	height:80px;
	margin-top:-250px;
	margin-bottom: 230px;
	
}
.login{
	width: 352px;
	height: inherit;
	display: table-cell;
	padding-left:70px;
	font-size: 16px;
}

.login2{
	width: 352px;
	height: 50px;
	display: table-cell;
	padding-left:108px;
	font-size: 16px;

}
.register{
	width: 352px;
	height: inherit;
	display: table-cell;
	padding-right: 70px;
	padding-left: 10px;
	font-size: 16px;
}

.register2{
	width: 352px;
	height: 50px;
	display: table-cell;
	padding-right: 18px;
	padding-left: 170px;
	font-size: 16px;
}
.startMessage{
	height:210px;
	font-size:22px;
	font-weight:bold;
	text-align:center;
	color: #256292;
}
.login #email{
	margin-top: 10px;
}

#loginForm .error{
	font-size: 12px;
}

#cardError{
	font-size: 12px;
	color: rgb(255,0,0);
}

#pinError{
	font-size: 12px;
	color: rgb(255,0,0);	
}

#pin{
	margin-top:0px;
	margin-bottom: 8px;
}

#description{
	font-size: 14px;
}



