
html,body{
font-family: "Helvetica Neue Light", Helvetica, Sans-serif;
height: 100%;
margin: 0px;
padding: 0px;
}

div.dropdown{
position: relative;
margin: 5px 0px 5px;
padding: 5px 5px 5px 12px;
background: #FCFCFC;
border-style: solid;
border-width: 1px;
border-color: #E0E0E0;
border-radius: 4px;
box-shadow: 0px 1px 0.5px 0px rgba(0, 0, 0, .20);
}

div.dropdown:after{
position:absolute;
top: 0px;
right: 0px;
width: 40px;
height: 100%;
margin-left: 10px;
background-color: #F2F2F2;
border-radius: 0px 3px 3px 0px;
content: "";
background-image: url('/einetwork/images/Art/checkboxes/dropdownArrows.png');
background-repeat: no-repeat;
background-position: center center;
}

/*
.button{
position: relative;	
border-radius: 8px;
padding: 3px 12px 3px 12px;
margin: 5px 10px 5px;
border-style: solid;
border-width: 1px;
}

.button:hover{
cursor: pointer;
}

.button.basic{
background-color: #FCFCFC;
border-color: #E0E0E0;
box-shadow: 0px 1px 0px 0px #E0E0E0;
font-size: 120%;
}

.button.basic:hover{
background-color: #F2F2F2;
}
*/
.button.dark{
padding: 6px 18px 6px 18px;	
background-color: #777777;
border-color: #888888;
}

.button.dark:hover{
background-color: #666666;
}

.button.dark.highlighted{
background-color: #E2DA54;
color: #2A2A2A;
padding: 7px 19px 7px 19px;
border-style: none;
}

.button.dark.highlighted:hover{
background-color: #CFC050;
border-style: none;
}

.checkbox{
position:relative;
z-index: 1;
float: left;
width: 18px;
height: 18px;
bottom: 0px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}

.checkbox:hover{
cursor: pointer;
}

.checkbox.light{
background-image: url('/interface/themes/einetwork/images/Art/checkboxes/checkbox_light_disabled.png');	
}

.checkbox.dark{
background-image: url('/interface/themes/einetwork/images/Art/checkboxes/checkbox_dark_disabled.png');	
}

.checkbox.light.unchecked{
background-image: url('/interface/themes/einetwork/images/Art/checkboxes/checkbox_light_unchecked.png');	
}

.checkbox.dark.unchecked{
background-image: url('/interface/themes/einetwork/images/Art/checkboxes/checkbox_dark_unchecked.png');	
}

/* checked checkboxes */
.checkbox.light.checked{
background-image: url('/interface/themes/einetwork/images/Art/checkboxes/checkbox_light_checked.png');
}

.checkbox.dark.checked{
background-image: url('/interface/themes/einetwork/images/Art/checkboxes/checkbox_dark_checked.png');
}

.HUD{
position: absolute;
display: none;
z-index: 10;
top: 0px;
padding: 12px 12px 46px 12px;
border-style: solid;
border-width: 2px;
border-color: #F0F0F0;
border-radius: 8px;
background-color: rgba(46, 46, 46, .95);
box-shadow: 0px 2px 5px 0px rgba(46, 46, 46, .47);
color: #F0F0F0;

width: 670px;
}

.HUD .title{
position: absolute;
font-size: 16px;
}

.HUD .close{
font-size: 16px;
margin-left: 530px;
}

.HUD .columnWrapper{
position: relative;
height: auto;
}

.HUD .column{

width: 186;
height: auto;
top: 12px;
bottom: 10px;
float: left;
margin-right: 16px;
}

.HUD .column:after{
position: absolute;
float: left;
margin-left: 185px;
top: 10px;
width: 1px;
height: 100%;
content: "";
background-color: #696969;	
}

.HUD .column.last:after{
visibility: hidden;	
}

.HUD .buttonContainer{
position: relative;
min-width: 196px;
width: 100%;
margin-top: 12px 0px 0px;
top: 16px;
left: 0px;
}

.HUD .button{
margin: 0px 5px 0px;
top: 0px;
left: 0px;
max-width: 60px;
text-align: center;
float: left;
}

/*#materialTypeHUD{
width: 670px;
}*/

.HUD .option{
padding: 8px 0px 0px;
}

.HUD .suboption{
padding: 2px 0px 0px 10px;
}

.HUD .subsuboption{
padding: 2px 0px 0px 10px;
}


#leftColumn{
position: absolute;
top: 0px;
left: 0px;
bottom: 0px;
width: 232px;
padding: 18px 10px 18px;
background-image: url('/interface/themes/einetwork/images/Art/checkboxes/filmgrain.png');
background-repeat: repeat;
}

div.horizontalRule{
position: relative;
height: 1px;
margin: 20px 0px 20px;
background: #E0E0E0;
}

div.sortCategory{
position:relative;
margin: 20px 0px 20px;
}

div.sortCategoryHeading{
position: relative;
float: none;
padding: 5px 0px 5px;
}

div.sortCategoryHeading .title{
position: relative;
margin-left: 0px;
}


div.sortCategoryHeading .button.basic{
margin-top: -20px;
right: 0px;
max-width: 60px;
text-align: center;
float: right;
}

div.sortCategory .option{
position: relative;
padding: 5px 0px 0px;
}

div.sortCategory .optionLabel{
position:relative;
float: none;
font-size: 120%;
}

div.sortCategory .optionLabel a{
text-decoration: none;
}
