#popup{
    background-color:rgb(46,46,46);
    opacity: 95%;
    border:1px solid black;
    border-radius: 8px;
    display:none;
    width:500px;
    height:300px;
    position: relative;
    z-index: 2;
}
