/**this style sheet created by Xiaolin Lin 2012--06-04**/

#right-header{
	font-size: 15px;
	width: 20%;
        height: 60px;
	color: rgb(255,255,255);
	text-align: left;
	float:left
}

.right-header-left{
	float: left;
	text-align: left;
	font-size: 18px;
	height: inherit;
	margin-left: 10px;
	color: rgb(255,255,255);
	padding-top: 5px;
}

.right-header-right{
	float: left;
	text-align: right;
	margin-right: 5px;
	margin-left: 10px;
	font-size: 18px;
	padding-top: 5px;
	color: rgb(255,255,255);
	height: inherit;
	width:60%;
}

.right-header-right a, .right-header-left a{
	text-decoration: underline;
	color: rgb(255,255,255);
}


.right-header-left #sign-label {
	color: rgb(255,255,255);

}

.right-header-left #myAccount {
	color: rgb(255,255,255);
	padding-top: 5px;
}



