.bookcart{
    margin-left: 15px;
    margin-right: 15px;
    height: 96px;

}

.bookcart div{
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}
#blank{
    width: 100px;
    display: inline-block;
}

#view-cart-button{
    border:1px solid grey;
    height:15px;
    width:60px;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-top: 3px;
    display: inline-block;
    margin-top: 15px;
}


.account-links{
    margin-left: 15px;
    margin-right: 15px;
    height: 208px;
}

.account-links div{
    padding-top: 5px;
    padding-bottom: 5px;
}


.notification{

    
}

#link-of-notification{
    display: inline-block;
    
}

#number-of-notification{
    display: inline-block;
    border:1px solid grey;
    background-color: rgb(98,114,194);
    color: rgb(255,255,255);
    height:8px;
    width:20px;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    margin-top:1px;
    
}




.prefer-branch{
    margin-left: 15px;
    margin-right: 15px;
}

.prefer-branch div{
    padding: 4px;
}

#edit-button{
    border:1px solid grey;
    height:15px;
    width:30px;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-top: 10px;
}



.recommendations{
    margin-left: 15px;
    margin-right: 15px;
}

.recommendations div{
    padding-top: 5px;
    padding-bottom: 5px;
}


#link-of-recommendation{
     display: inline-block;
}

#number-of-recommedation{
    display: inline-block;
    border:1px solid grey;
    background-color: rgb(98,114,194);
    color: rgb(255,255,255);
    height:8px;
    width:25px;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding-top: 0px;
}

.separator{
    margin-left: 15px;
    margin-right: 15px; 
}