/**this style sheet created by Xiaolin Lin 2012--06-04**/

#right-header{
	background-color: #43749C;
	font-size: 14px;
	line-height: 22px;
	width: 20%;
        height: 60px;
	color: white;
	text-align: right;
	float:left
}
#right-header-account-links{
	background-color: #011753;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

#right-header .top-header-item{
	padding: 0px 12px;
	border-left: 1px solid white;
	height: 22px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin:0px;
}
#right-header .top-header-item a{
	color: white;
	margin-bottom: 0;
}
#right-header .top-header-item a:hover{
	text-decoration: underline;
}
.right-header-account-link{
	background-color: #011753;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	height: 22px;
}
